/* CSS Reset */

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

/*REMOVE THIS*/
/* {
    border: 0.05px rgb(212, 10, 10) dashed;
}


/*Border box*/

html {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background:white;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Style snippets */



.raleway{
    font-family: 'Raleway', sans-serif;
}

.notoserif{
    font-family: 'Noto Serif', serif;
}

.uppercase{
    text-transform: uppercase;
}

.italic{
    font-style: italic;
}

.light{
    font-weight:100;
}

.bold{
    font-weight:900;
}

.white{
    color:white;
}

.black{
    color:black;
}

.red{
    color:red;
}

.nodecor{
    text-decoration: none;
}

.center{
    text-align:center;
}


/* Float fix */

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/*Font adjustment*/

h1{
    font-size:26px;
    letter-spacing:1px;
    font-weight:900;
}

h2{
    font-size:22px;
    letter-spacing:1px;
    font-weight:900;
}

h3{
    font-size:18px;
}

h4{
    font-size:14px;
}

h5{
    font-size:12px;
}
/*Containers*/

.container{
    width: 100%;
    margin: 0 auto;
    max-width: 1080px;
}

.subcontainer{
    width:80%;
    margin: 0 auto;
}

/*Image fit to div*/

.fitdiv{
    max-width:100%;
    height:auto;
}



/*STYLING*/

/*HEADER */

header nav h2{
    float:left;
    margin-left:5%;
}

header nav ul{
    float:right;
    list-style: none;
    margin:25px 10%;

}

header nav ul li{
    display: inline;
    padding: 0 5px;
}

header nav ul li:hover{
    text-shadow: 0 0 3px #000;
}

header nav ul li a{
    text-decoration: none;
    color:black;
}

header section{
    background-image: url('assets/image-1.jpg');
    height:80vh;
    background-size:cover;
    display:flex;
    align-items:center;
    justify-content:center;
}

header article{
    width: 60%;
    background-color:rgba(255,255,255,0.9);
}

header article h1{
    margin-top:8%;
    margin-bottom:0;
}

header article h4{
    margin-top:3px;
}

header article p{
    margin: 5px 40px 40px;
    line-height: 1.5;
}

/* MAIN */

main{
    font-family: 'Raleway', sans-serif;
}

main > h3{
    margin-top:50px;
}

main article, main aside{
    background-color:#eeeded;
}

main article h4{
    margin-bottom:0;
}

main article h5{
    margin-top:5px;
}

main article p{
    font-size:10px;
    line-height:1.5;
    margin: 0 20px;
}

main .subcontainer{
    padding: 15px 0 50px;
}

aside p{
    font-size:10px;
    line-height:1.5;
    margin: 20px 20px;

}

main article a{
    display:block;
    width: 100%;
    text-align:center;
    font-size:8px;
    font-weight:bold;
    margin: 5px 0 10px;
}

/*GridA*/

.gridA{
    width: calc(100% / 3 * 2 - 8px );
    float:left;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "first second"
        "third third";
    grid-gap:25px;

}

.gridItemA{
    grid-area: first;
}

.gridItemB{
    grid-area: second;
}

.gridItemC{
    grid-area: third;
}

/*About*/

.about{
    width: calc(100% / 3 - 17px);
    float:right;
}

/*Related*/

.related{
    background-color:#eeeded;
    padding: 25px 0 25px;
}

.related article{
    background-color:white;
}

.related h3{
    margin-top:10px;
}

/*Grid B*/

.gridB{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:auto;
    grid-gap:25px;
    padding: 5px auto 5px;
}

/*FOOTER*/



/*Upper*/



.upper{
    background-color:rgb(68, 68, 68);

    
}

.upper ul{
    list-style: none;
    padding:0;
}

.upper ul li{
    padding:0 0 8px;
}

.upper ul li a{
    color:white;
    text-decoration: none;
    font-weight:bold;
    font-size:12px;

}

.upper ul li a:hover{
    text-shadow: 0 0 3px #fff;
}

.upper p{
    font-size:10px;
    line-height: 1.75;
}

.upper h4{
    margin-bottom:0;
}

.gridC{
    display:grid;
    grid-template-columns: 4fr 1fr 5fr;
    grid-gap:30px;
    padding-top:30px;
    padding-bottom:30px;
}



/* Lower*/

.lower{
    background-color:black;
}

form input{
    display:inline-block;
    margin: initial 0;
    width:60%;
    height:40px;
    border:none;
}

input::placeholder{
    color:black;
    font-family: 'Noto Serif', serif;
    text-align: center;
    font-style:italic;
}

form button{
    display: inline-block;
    width:38%;
    margin: initial 0;
    height:40px;
    color:white;
    background-color:red;
    border:none;
}












